.filter-tree {
    font-family: sans-serif;
    line-height: 1.5em;
}
.filter-tree label {
    font-weight: normal; /* damn you, bootstrap! */
}
.filter-tree input[type=radio], .filter-tree input[type=checkbox] {
    left: 3px; /* damn you, bootstrap! */
    margin-right: 3px; /* damn you, bootstrap! */
}
.filter-tree ol { margin-top: 0 }

.filter-tree-remove, .filter-tree-add-filter, .filter-tree-add {
    cursor: pointer;
}
.filter-tree-add-filter, .filter-tree-add {
    font-size: smaller;
    font-style: italic;
    margin-left: 3em;
}
.filter-tree-add-filter:hover, .filter-tree-add:hover {
    text-decoration: underline;
}
.filter-tree-add > div, .filter-tree-add-filter > div, .filter-tree-remove {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #8c8;
    font-size: 11.5px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: normal;
    font-style: normal;
    font-family: sans-serif;
    text-shadow: 0 0 1.5px grey;
    margin-right: 4px;
}
.filter-tree-add > div:before, .filter-tree-add-filter > div:before {
    content: '\ff0b';
}
.filter-tree-remove {
    background-color: #e88;
    border: 0;
}
.filter-tree-remove:before {
    content: '\2212';
}
.filter-tree li::after {
    font-size: 70%;
    font-style: italic;
    font-weight: bold;
    color: #900;
}

.filter-tree > ol > li:last-child::after { display: none }

.op-or > ol > li::after {
    content: '\A0— OR —';
}
.op-and > ol > li::after {
    content: '\A0— AND —';
}
.op-nor > ol > li::after {
    content: '\A0— NOR —';
}

/* Default filter editor */

.filter-tree-default > * {
    margin: 0 .4em;
}
.filter-tree-default > input[type=text] {
    width: 8em;
}
.filter-tree-default > *.error {
    background-color: #ffc;
}

/* Filter editor chooser */
.filter-tree-chooser {
    position: absolute;
    font-style: italic;
    background-color: #8c8;
    color: white;
    font-size: 11.5px;
    outline: 0;
    box-shadow: 5px 5px 10px grey;
}
