.filter-tree {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
}
.filter-tree label {
    font-weight: normal; /* damn you, bootstrap! */
}
.filter-tree input[type=radio],
.filter-tree input[type=checkbox] {
    left: 3px; /* damn you, bootstrap! */
    margin-right: 3px; /* damn you, bootstrap! */
}
.filter-tree ol { margin-top: 0 }

.filter-tree > select {
    float: right;
    border: 1px grey dotted;
    background-color: transparent;
    box-shadow: none;
}

.filter-tree-remove-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #e88;
    font-size: 11.5px;
    color: white;
    text-align: center;
    line-height: normal;
    font-style: normal;
    font-family: sans-serif;
    margin-right: 4px;
    cursor: pointer;
}
.filter-tree-remove-button:hover {
    background-color: transparent;
    color: #e88;
    font-weight: bold;
    box-shadow: red 0 0 2px inset;
}
.filter-tree-remove-button::before {
    content: '\d7'; /* minus sign */
}
.filter-tree li::after {
    font-size: 70%;
    font-style: italic;
    font-weight: bold;
    color: #080;
}

.filter-tree > ol > li:last-child::after { display: none }

.op-or > ol,
.op-and > ol,
.op-nor > ol {
    padding-left: 5px;
    margin-left: 27px;
}

.op-or > ol > li::after {
    margin-left: 2.5em;
    content: '— OR —';
}
.op-and > ol > li::after {
    margin-left: 2.5em;
    content: '— AND —';
}
.op-nor > ol > li::after {
    margin-left: 2.5em;
    content: '— NOR —';
}

/* Abstract filter editor */

.filter-tree-editor > * {
    font-weight: bold;
}
.filter-tree-editor > span {
    font-size: smaller;
}
.filter-tree-editor > input[type=text] {
    width: 8em;
    padding: 1px 5px 2px 5px;
}

/* warning and error styles */

.filter-tree-warning {
    background-color: #ffc !important;
    border-color: #edb !important;
    font-weight: normal !important;
}
.filter-tree-error {
    background-color: #fcc !important;
    border-color: #c99 !important;
    font-weight: normal !important;
}

/* Default filter editor */

.filter-tree-default > *:enabled { /* :enabled ignores <span>, used for hard text */
    margin: 0 .4em;
    background-color: #ddd;
    border: 1px solid transparent;
}

/* ??? */

.filter-tree.filter-tree-type-column-filters > ol > li:not(:first-child) {
    padding-top: 0.75em;
    border-top: 1px dashed black;
    margin-top: 0.75em;
}

/* Footnotes */

.filter-tree .footnotes {
    margin: 0 0 6px 0;
    font-size: 8pt;
    font-weight: normal;
    line-height: normal;
    white-space: normal;
    /*font-style: italic;*/
    color: #c00;
}
.filter-tree .footnotes > p {
    margin: 0;
}
.filter-tree .footnotes > ul {
    margin: -3px 0 0 0;
    padding-left: 17px;
    text-index: -6px
}
.filter-tree .footnotes > ul > li {
    margin: 2px 0;
}
.filter-tree .footnotes .field-name,
.filter-tree .footnotes .field-value {
    font-weight: bold;
    font-style: normal;
}
.filter-tree .footnotes .field-value {
    font-family: monospace;
    color: black;
    background-color: #ddd;
    padding: 0 5px;
    margin: 0 3px;
    border-radius: 3px;
}

/* Filter editor chooser */

.filter-tree-chooser {
    position: absolute;
    font-size: 9pt;
    outline: 0;
    box-shadow: 5px 5px 10px grey;
    z-index: 0;
    border: 1px solid black;
    border-radius: 5px;
    border-top-left-radius: 0;
    background-color: lightyellow;
    font-style: italic;
    font-size: 90%;
}
.filter-tree-chooser > option {
    padding: 4px 6px;
}
.filter-tree-chooser > option:not(:last-child) {
    border-bottom: 1px dashed #666;
}
